/*
= BASIC COLORS
------------------------------------------------------------------------------------- */

$color-brand: #FF0066;
$color-primary: #FF0066;
$color-secondary: #FFC025; //#FF9700;
$color-tertiary: #FF4940;
$color-quaternary: #0CAF60;

$color-5: #01161E;
$color-6: #213743;
$color-7: #FFCC33;
$color-8: #4ECB4A;
$color-9: #26A17B;
$color-10: #A8B7FF;
$color-11: #D8D8D8;
$color-12: #E6E6E6;
$color-13: #161818;
$color-14: #4DCA49;
$color-15: #000300;
$color-16: #188A3F;
$color-17: #23242A;
$color-18: #282930;
$color-19: #1C1E3B;
$color-20: #1A1B20;
$color-21: #1C1E3B;
$color-22: #A1AFC3;
$color-23: #150734;
$color-24: #000225;
$color-25: #1A1B2B;
$color-26: #B50808;
$color-27: #20223E;
$color-28: #2E224A;
$color-29: #181738;
$color-30: #181738;
$color-31: #E5E5E5;
$color-32: #A2B0C3;
$color-33: #CBD1D9;
$color-34: #2B2D42;
$color-35: #2D2E37;
$color-36: #FCC025;
$color-37: #161D26;
$color-38: #D1D9FF;
$color-39: #2844CC;
$color-40: #FF0033;
$color-41: #D1D9FF;
$color-42: #00081E;
$color-43: #00000061;
$color-44: #12181F;
$color-45: #002054;

$color-green: #3AD29F;
$color-light-yellow: #FFC025;

$color-grey-dark: #23242A;
$color-grey: #A3A9B7;
$color-grey-light: #CBD1D9;

$color-black: #000000;
$color-white: #FFFFFF;

$color-body: #0B090A;

$color-text-secondary: #A2B0C3;