/*
@font-face {
  font-family: "nunitoreg";
  src: url("./nunito-regular.ttf");
  font-display: swap;
  font-optical-sizing: auto;
}
*/

/*
@font-face {
  font-family: "Rubik";
  src: url("./rubik/Rubik-VariableFont_wght.ttf");
  font-display: swap;
  font-optical-sizing: auto;
}*/

/*
@font-face {
  font-family: "Baloo";
  src: url("./Baloo-Regular.ttf");
  font-display: swap;
  font-optical-sizing: auto;
}
*/

/* https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&amp;display=swap */

/* vietnamese */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHpv4kjgoGqM7E_A8s52Hs.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHpv4kjgoGqM7E_Ass52Hs.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHpv4kjgoGqM7E_DMs5.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/

/* vietnamese */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHqv4kjgoGqM7E3_-gs6FospT4.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHqv4kjgoGqM7E3_-gs6VospT4.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHqv4kjgoGqM7E3_-gs51os.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/

/* vietnamese */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHqv4kjgoGqM7E3t-4s6FospT4.woff2") format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHqv4kjgoGqM7E3t-4s6VospT4.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./barlow/7cHqv4kjgoGqM7E3t-4s51os.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/


/* https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&amp;display=swap */
/* devanagari */
/*
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/baloo2/v21/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpp_led7Q.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
  font-optical-sizing: auto;
}
*/

/* vietnamese */
/*
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/baloo2/v21/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpn_led7Q.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/baloo2/v21/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpm_led7Q.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/baloo2/v21/wXK0E3kTposypRydzVT08TS3JnAmtdgazZpo_lc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/

/* https: //fonts.googleapis.com/css2?family=Poppins&amp;display=swap */
/* devanagari */
/*
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
  unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FF;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/

/* https: //fonts.googleapis.com/css2?family=Inter&amp;display=swap */
/* cyrillic-ext */

/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZJhiI2B.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-optical-sizing: auto;
}
*/

/* cyrillic */
/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-optical-sizing: auto;
}
*/

/* greek-ext */
/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZNhiI2B.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
  font-optical-sizing: auto;
}
*/

/* greek */
/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZxhiI2B.woff2) format('woff2');
  unicode-range: U+0370-03FF;
  font-optical-sizing: auto;
}
*/

/* vietnamese */
/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhiI2B.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhiI2B.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: url(https://fonts.gstatic.com/s/inter/v13/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/

/* vietnamese */
/*
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLhnepKu.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-optical-sizing: auto;
}
*/

/* latin-ext */
/*
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLlnepKu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-optical-sizing: auto;
}
*/

/* latin */
/*
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lexend/v19/wlptgwvFAVdoq2_F94zlCfv0bz1WCzsWzLdneg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-optical-sizing: auto;
}
*/