/*
= HOMEPAGE HERO
------------------------------------------------------------------------------------- */
.hero-slider-outer {
    margin-bottom: 50px;

    @include breakpoint(960) {
        margin-bottom: 10px;
    }

    @include breakpoint(768) {
        margin-bottom: 20px;
    }

    .hero-slider {
        &.slick-dotted {
            &.slick-initialized {
                .slick-list {
                    .slick-track {
                        .slick-slide {
                            @include breakpoint(768) {
                                min-height: 415px;
                            }

                            @include breakpoint(640) {
                                min-height: 280px;
                            }

                            @include breakpoint(375) {
                                min-height: 310px;
                            }
                        }
                    }
                }
            }
        }

        .slide {
            @include breakpoint(768) {
                padding-bottom: 0px; //90px
            }

            @include breakpoint(640) {
                display: flex;
                flex-direction: column-reverse;
                padding-bottom: 0px; //70px
            }

            hgroup {
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 85%;

                @include breakpoint(1280) {
                    width: 80%;
                    bottom: 5px;
                }

                @include breakpoint(1024) {
                    width: 80%;
                    bottom: 5px;
                }

                @include breakpoint(768) {
                    top: 332px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }

                @include breakpoint(640) {
                    top: 210px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }

                @include breakpoint(375) {
                    top: 210px;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }

                h1,
                h2 {
                    margin-bottom: 20px;

                    @include breakpoint(640) {
                        margin-bottom: 25px;
                    }
                }

                span {
                    &.title {
                        color: #FFC025;
                        font-size: 64px;
                        line-height: 66px;
                        font-family: $font-inter;
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 20px;

                        @include breakpoint(1366) {
                            font-size: 64px;
                            line-height: 66px;
                        }

                        @include breakpoint(768) {
                            font-size: 32px;
                            line-height: 34px;
                        }

                        @include breakpoint(640) {
                            font-size: 26px;
                            line-height: 28px;
                            margin-bottom: 24px;
                        }
                    }
                }

                p {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-size: 32px;
                    line-height: 36px;
                    color: $color-grey;
                    font-family: $font-inter;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0.32px;
                    color: #D8D8D8;

                    &.claim-code {
                        color: $color-primary;
                    }

                    @include breakpoint(1366) {
                        font-size: 32px;
                        line-height: 36px;
                    }

                    @include breakpoint(768) {
                        max-width: inherit;
                        font-size: 24px;
                        line-height: 26px;
                    }

                    @include breakpoint(640) {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }

                .more {
                    display: inline-block;
                    font-family: $font-inter;
                    font-size: 26px;
                    line-height: 30px;
                    color: $color-secondary;
                    text-decoration-line: underline;
                    text-underline-offset: 3px;
                    @include transition(color 300ms ease-in-out);

                    &:hover {
                        color: $color-white;
                    }

                    @include breakpoint(1366) {
                        font-size: 22px;
                        line-height: 26px;
                    }

                    @include breakpoint(768) {
                        position: absolute;
                        left: 0;
                        top: -55px;
                        width: 100%;
                        height: 100%;
                        text-indent: -9999px;
                        text-align: left;
                    }
                }
            }

            figure {
                //width: 80%;
                //margin-left: 20%;
                width: 100%;
                margin-left: 0;
                height: 300px;
                border-radius: 10px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;

                @include breakpoint(1366) {
                    //width: 70%; 
                    //margin-left: 30%;
                    width: 100%;
                    margin-left: 0;
                    height: 300px;
                }

                @include breakpoint(960) {
                    //width: 90%; 
                    //margin-left: 10%;
                    width: 100%;
                    margin-left: 0;
                    height: 300px;
                }

                @include breakpoint(768) {
                    width: 100%;
                    margin-left: 0;
                    height: 300px;
                }

                @include breakpoint(640) {
                    height: 178px;
                }
            }
        }

        // Nav
        .slick-dots {
            position: absolute;
            top: 50%;
            right: -50px;
            @include transform($y: -50%);

            @include breakpoint(1600) {
                right: -22px;
            }

            @include breakpoint(768) {
                top: 310px;
                right: auto;
                left: 0;
                @include transform();
                width: 100%;
                text-align: center;
            }

            @include breakpoint(640) {
                top: 185px;
                right: auto;
                left: 0;
                @include transform();
                width: 100%;
                text-align: center;
            }

            li {
                display: block;
                margin: 10px 0;

                @include breakpoint(768) {
                    display: inline-block;
                    margin: 0 5px;
                }

                button {
                    width: 15px;
                    height: 15px;
                    margin: 0;
                    padding: 0;
                    text-indent: -9999px;
                    background-color: $color-grey;
                    border-radius: 50%;
                    border: 0;
                    outline: none;
                    appearance: none;
                    -webkit-appearance: none;

                    @include breakpoint(1600) {
                        width: 12px;
                        height: 12px;
                    }

                    @include breakpoint(768) {
                        width: 15px;
                        height: 15px;
                    }
                }

                &.slick-active {
                    button {
                        background-color: $color-primary;
                    }
                }
            }
        }

        .paging-info {
            position: absolute;
            right: 20px;
            bottom: -15px;
            z-index: 30;

            @include breakpoint(768) {
                display: none;
            }

            p {
                font-family: $font-inter;
                font-size: 48px;
                line-height: 75px;
                color: $color-white;

                .total {
                    font-size: 30px;
                    color: rgba(255, 255, 255, 0.7);
                }

                @include breakpoint(1366) {
                    font-size: 38px;
                    line-height: 65px;

                    .total {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}