.investors-safety {
    order: 3;

    background: $color-51;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 16px;


    @include breakpoint(960) {
        flex: 1;
        padding: 10px;
    }

    @include breakpoint(768) {
        @include flexbox();
        flex-direction: column;
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-section {
        @include flexbox();
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        margin-bottom: 20px;

        .title {
            color: $color-primary;
            font-family: $font-inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;

            @include breakpoint(1440) {
                font-size: 24px;
                line-height: normal;
            }

            @include breakpoint(1024) {
                font-size: 24px;
                line-height: normal;
            }

            @include breakpoint(640) {
                font-size: 22px;
                line-height: normal;
            }

            @include breakpoint(375) {
                font-size: 20px;
                line-height: normal;
            }
        }
    }

    .mini-title {
        color: $color-47;
        font-family: $font-inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        text-align: center;
        margin-bottom: 15px;
    }

    .description {
        color: $color-white;
        font-family: $font-inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.25px;
        margin-bottom: 20px;
        padding-left: 0px;
        text-align: center;
    }

    hr {
        background-color: $color-52;
        border: none;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .content {
        @include flexbox();
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        padding-top: 10px;

        @include breakpoint(1024) {
            gap: 20px;
            flex-wrap: wrap;
        }

        @include breakpoint(768) {
            flex-direction: column;
        }

        .item {
            @include flexbox();
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            align-self: stretch;
            gap: 16px;
            flex-grow: 1;
            flex-basis: 0;
            border-radius: 16px;
            background-color: $color-54;
            padding: 0px;

            .image {
                height: 190px;
                width: 100%;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                background-size: cover;
                background-repeat: no-repeat;

                /*@include breakpoint(768) {
                    height: 500px;
                }

                @include breakpoint(640) {
                    height: 400px;
                }

                @include breakpoint(480) {
                    height: 300px;
                }

                @include breakpoint(375) {
                    height: 250px;
                }

                @include breakpoint(320) {
                    height: 180px;
                }*/

                &.first {
                    background-image: url("/pictures/background/investors-safety-2.webp");
                }

                &.second {
                    background-image: url("/pictures/background/investors-safety-3.webp");
                    //background-position-y: -100px;
                }

                &.third {
                    background-image: url("/pictures/background/investors-safety-4.webp");
                }

                &.fourth {
                    background-image: url("/pictures/background/investors-safety-1.webp");
                }
            }

            img {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;

                background-repeat: no-repeat;
                background-color: lightgray 50%;
                background-size: cover;

                width: 100%;
            }

            .title-level-1 {
                color: $color-12;
                text-align: center;
                font-family: $font-inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px;
                text-transform: uppercase;

                padding-left: 20px;
                padding-right: 20px;
            }

            .title-level-2 {
                color: $color-47;
                text-align: center;
                font-family: $font-inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;

                padding-left: 20px;
                padding-right: 20px;
            }

            .description {
                color: $color-white;
                text-align: center;
                font-family: $font-inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;

                padding-left: 20px;
                padding-right: 20px;

                a {
                    color: $color-white;
                    text-decoration: underline;
                }
            }
        }
    }
}