.presale-seed-round {
    order: 3;

    padding: 30px;
    background: $color-37;
    box-shadow: 0px 5px 10px $color-black;
    border-radius: 20px;

    @include breakpoint(960) {
        flex: 1;
        padding: 0px;
    }

    .header-section {
        @include flexbox();
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        @include breakpoint(960) {
            flex-direction: column;
        }

        .title {
            color: $color-10;
            font-family: $font-inter;
            font-size: 34px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: -1px;
        }
    }

    .description {
        color: $color-white;
        font-family: $font-inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: -0.25px;

        margin-bottom: 20px;
    }

    hr {
        background-color: $color-52;
        border: none;
        height: 1px;
        margin-bottom: 20px;
    }

    .main-section {
        border-radius: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/pictures/background/private-sale-status.png');
        height: 300px;

        @include breakpoint(960) {
            background-size: 100% 50%;
            background-position: 50%;
            height: inherit;
        }

        position: relative;

        @include flexbox();
        align-items: stretch;

        margin-top: 20px;

        .content {
            @include flexbox();
            flex-direction: column;
            justify-content: space-between;

            gap: 10px;

            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 20px;

            width: 95%;

            .connect-wallet {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .message-status {
                color: $color-quaternary;
                font-family: $font-inter;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: -0.5px;
            }

            .current-status {
                color: $color-7;
                text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                font-family: $font-inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: -1px;

                @include flexbox();
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                flex-direction: row;

                @include breakpoint(960) {
                    font-size: 30px;
                    font-size: 34px;
                }

                @include breakpoint(640) {
                    flex-direction: column;
                }


            }

            .token-status {
                font-family: $font-inter;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: -1px;
                text-transform: uppercase;
                color: $color-7;
                text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);

                &.filled {
                    color: $color-7;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                }

                &.sold-out {
                    color: $color-primary;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -1;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                    text-transform: uppercase;
                }

                &.in-progress {
                    color: $color-quaternary;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                    font-family: $font-inter;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -1px;
                }

                &.not-started {
                    color: $color-primary;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -1;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                    text-transform: none;
                }

                &.active {
                    color: $color-47;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -1;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                    text-transform: none;
                }

                &.default {
                    color: $color-primary;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -1;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                    text-transform: none;
                }

                &.not-active {
                    color: $color-primary;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                    letter-spacing: -1;
                    text-shadow: 0px 4px 28px rgba(0, 0, 0, 0.66);
                    text-transform: none;

                    @include breakpoint(768) {
                        font-size: 24px;
                        line-height: 22px;
                    }
                }

                @include flexbox();
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                flex-direction: row;

                @include breakpoint(640) {
                    flex-direction: column;
                }
            }

            .raised {
                color: $color-32;
                font-family: $font-inter;
                font-size: 28px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                letter-spacing: -0.5px;

                @include breakpoint(960) {
                    font-size: 22px;
                    font-size: 26px;
                }
            }
        }
    }
}