.signup-email-for-updates {

    background: url('/pictures/background/seed-presale-round.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #566573;
    background-blend-mode: multiply;


    @include flexbox();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 16px;

    border-radius: 5px;
    padding: 8px 16px 8px 32px;
    min-height: 96px;

    @include breakpoint(640) {
        padding: 8px 8px 8px 8px;
        justify-content: flex-start;
    }

    @include breakpoint(375) {
        padding: 8px 8px 8px 8px;
        justify-content: flex-start;
    }

    div {
        text-align: left;

        &:first-child {
            color: $color-white;
            font-family: $font-inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-left: 10px;
            padding-right: 10px;
        }

        &:nth-child(2) {
            color: $color-white;
            font-family: $font-inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
            text-wrap: pretty;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    form {
        .input-container {
            display: flex;
            position: relative;
            flex-wrap: wrap;
            align-items: stretch;

            img {
                display: flex;
                position: absolute;
                top: 0px;
                left: 15px;
                width: 50px;
                height: 50px;
            }

            input[type="email"] {
                background: transparent;
                border: 2px solid $color-primary;
                color: $color-white;
                font-family: $font-inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                height: 40px;
                line-height: 20px;
                border-radius: 5px;
                text-align: center;
                width: 330px;
                margin-right: 10px;
                outline: none;

                &::placeholder {
                    color: $color-white;
                    text-align: center;
                    font-family: $font-inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    text-decoration-line: underline;
                }

                @include breakpoint(768) {
                    width: 330px;
                    margin-bottom: 10px;
                }

                @include breakpoint(640) {
                    width: 330px;
                    margin-bottom: 10px;
                }

                @include breakpoint(375) {
                    width: 320px;
                    margin-bottom: 10px;
                }

                @include breakpoint(320) {
                    width: 300px;
                    margin-bottom: 10px;
                }
            }

            .btn {
                margin: 0 auto;
            }
        }
    }
}