/*
= BOXED TABS
------------------------------------------------------------------------------------- */
/*
= BOXED INFO
------------------------------------------------------------------------------------- */
$duration: 30s;

hr {
	background-color: $color-52;
	border: none;
	height: 1px;
	margin-bottom: 20px;
}

.portals {
	@include flexbox();
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: stretch;
	gap: 16px;

	@include breakpoint(1440) {
		gap: 16px;
	}

	@include breakpoint(1024) {
		gap: 15px;
	}

	@include breakpoint(375) {
		gap: 10px;
	}

	.left {
		order: 1;
		flex-basis: 240px;

		@include flexbox();
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: stretch;
		gap: 20px;

		@include breakpoint(1440) {
			flex-direction: row;
			flex-basis: 100%;
			align-content: flex-start;
		}

		@include breakpoint(960) {
			flex-direction: column;
			flex-basis: 100%;
		}

		.account {
			order: 1;
			padding-right: 0px;
			padding-left: 0px;

			padding: 15px 0px;
			background: $color-46;
			border-radius: 5px;

			width: 100%;

			@include breakpoint(1600) {
				flex: 1 1 auto;
			}

			@include breakpoint(1440) {
				flex: 1;
			}

			@include breakpoint(1366) {
				flex: 1 1 50%;
			}

			@include breakpoint(640) {
				flex: 1 1 100%;
			}

			.title {
				color: $color-41;
				text-align: center;
				font-family: $font-inter;
				font-size: 28px;
				font-style: normal;
				font-weight: 700;
				line-height: 36px;
			}

			.single-col {
				@include flexbox();
				flex-direction: column;
				margin: 0 auto;

				.col {
					@include flexbox();
					flex: 100%;
					padding: 10px 10px;
					box-sizing: border-box;

					&.centered {
						text-align: center;
						align-self: center;
					}

					img {
						width: 100%;
					}

					.message {
						color: $color-white;
						text-align: center;
						font-family: $font-inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: 16px;
					}

					.username {
						color: $color-white;
						font-family: $font-inter;
						font-size: 22px;
						font-style: normal;
						font-weight: 400;
						letter-spacing: -.5px;
						line-height: 28px;
					}

					.balance {
						color: $color-white;
						font-family: $font-inter;
						font-size: 16px;
						font-style: normal;
						font-weight: 700;
						line-height: 24px;
					}
				}
			}
		}
	}

	.wallet {
		order: 2;

		padding: 15px 26px;
		background: $color-46;
		border-radius: 5px;

		@include breakpoint(1600) {
			flex: 1 1 auto;
		}

		@include breakpoint(1440) {
			flex: 1;
		}

		@include breakpoint(1366) {
			flex: 1 1 50%;
		}

		@include breakpoint(640) {
			flex: 1 1 100%;
			padding: 15px 8px;
		}

		.title {
			color: $color-41;
			text-align: center;
			font-family: $font-inter;
			font-size: 28px;
			font-style: normal;
			font-weight: 700;
			line-height: 32px;
			letter-spacing: -0.5px;
		}

		.single-col {
			@include flexbox();
			flex-direction: column;
			margin: 0 auto;

			.col {
				flex: 100%;
				padding: 10px 10px;
				box-sizing: border-box;

				&.centered {
					text-align: center;
				}

				.username {
					color: $color-white;
					font-family: $font-inter;
					font-size: 22px;
					font-style: normal;
					font-weight: 400;
					line-height: 28px;
					letter-spacing: -0.5px;
				}

				.uid {
					color: $color-white;
					font-family: $font-inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: 24px;
				}

				.verification-status {
					@include flexbox();
					color: $color-12;
					font-family: $font-inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
					text-transform: uppercase;
					align-items: center;
					justify-content: space-around;
				}

				.account-balance {
					color: $color-48;
					text-align: center;
					font-family: $font-inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
				}

				.account-balance-value {
					color: $color-white;
					text-align: center;
					font-family: $font-inter;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 24px;
				}
			}
		}
	}

	.nft-card {
		order: 3;
		padding-right: 0px;
		padding-left: 0px;

		padding: 15px 0px;
		background: $color-37;
		box-shadow: 0px 5px 10px $color-black;
		border-radius: 20px;

		@include breakpoint(1600) {
			flex: 1 1 auto;
		}

		@include breakpoint(960) {
			flex: 1 1 100%;
		}

		.title {
			color: $color-41;
			text-align: center;
			font-family: $font-inter;
			font-size: 28px;
			font-style: normal;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: -0.5px;
		}

		.single-col {
			@include flexbox();
			flex-direction: column;
			margin: 0 auto;

			.col {
				@include flexbox();
				flex: 100%;
				padding: 5px 10px;
				box-sizing: border-box;

				&.centered {
					text-align: center;
					align-self: center;
				}

				img {
					width: 100%;
				}

				.sol-section {
					@include flexbox();
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					align-content: space-between;
					gap: 10px;
					width: 200px;

					.sol-value {
						border-radius: 20px;
						background-color: $color-5;
						@include flexbox();
						flex-direction: row;
						align-items: center;
						align-content: space-between;
						justify-content: space-between;
						gap: 5px;
						flex-wrap: nowrap;

						img {
							width: 30px;
						}

						.value {
							color: $color-primary;
							text-align: left;
							font-family: $font-inter;
							font-size: 14px;
							font-style: normal;
							font-weight: 400;
							line-height: 20px;
							width: 90px;
						}
					}

					img {
						width: 40px;
					}

				}

				.username-section {
					@include flexbox();
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					gap: 5px;

					.username {
						color: $color-white;
						font-family: $font-inter;
						font-size: 14px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
					}
				}

				.role {
					color: $color-white;
					font-family: $font-inter;
					font-size: 18px;
					font-style: normal;
					font-weight: 600;
					line-height: normal;
				}
			}
		}
	}
}

.center {
	order: 2;

	flex-basis: 1110px;
	flex-grow: 1;

	@include flexbox();
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	gap: 20px;

	@include breakpoint(1600) {
		flex-basis: 1150px;
	}

	@include breakpoint(1440) {
		flex-direction: row;
		flex-basis: max-content;
		align-content: flex-start;
		justify-content: center;
	}

}

.full-width {
	order: 3;
	flex-grow: 1;

	@include flexbox();
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	gap: 0px;
}