/*
= GLOBAL SETTINGS
------------------------------------------------------------------------------------- */
html {
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
}

body {
	overflow-x: hidden;
	position: relative;
	background-color: #000000;
	-webkit-overflow-scrolling: touch;
}

html,
body {
	&.menu-active {
		overflow: hidden;
	}
}

:root {
	color-scheme: light only;
	/* both supported */
}

.page-outer {
	padding-top: 108px;

	@include breakpoint(1366) {
		padding-top: 90px;
	}

	@include breakpoint(640) {
		padding-top: 90px;
	}
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: border-box;

	@include breakpoint(640) {
		padding-left: 10px;
		padding-right: 10px;
	}
}


.tab-nav {
	@include flexbox();

	li {
		margin-left: 30px;
		font-size: 24px;
		line-height: 25px;
		font-weight: 700;
		white-space: nowrap;

		@include breakpoint(1366) {
			margin-left: 15px;
			font-size: 20px;
		}

		a {
			font-family: $font-baloo;
			font-style: normal;
			font-weight: 400;
			font-size: 22px;
			text-transform: capitalize;
			display: block;
			padding: 15px 10px;
			color: #A1AFC3;
			@include transition(color 300ms ease-in-out);

			&:hover {
				color: $color-white;
			}
		}

		&.active {
			a {
				position: relative;
				color: $color-white;

				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 4px;
					background-color: $color-primary;
				}
			}
		}

		&.active-color {
			a {
				position: relative;
				color: #FF0066;

				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 4px;
					background-color: $color-primary;
				}
			}
		}
	}
}

.tab-content {
	display: none;

	&.active {
		display: block;
	}
}

.slick-arrow {
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	background: none;
	border: 0;
	outline: none;
	cursor: pointer;

	&:before {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		width: 22px;
		height: 22px;
		border-left: $color-primary solid 3px;
		border-bottom: $color-primary solid 3px;
		@include transition(all 300ms ease-in-out);

		@include breakpoint(640) {
			width: 16px;
			height: 16px;
		}
	}

	&.slick-prev {
		left: 0;

		&:before {
			@include transform($y: -50%, $x: -50%, $r: 45deg);
		}

		@include breakpoint(640) {
			left: -20px;
		}
	}

	&.slick-next {
		right: 0;

		&:before {
			@include transform($y: -50%, $x: -50%, $r: -135deg);
		}

		@include breakpoint(640) {
			right: -20px;
		}
	}

	&:hover {
		&:before {
			border-left: $color-white solid 3px;
			border-bottom: $color-white solid 3px;
		}
	}
}