/*
= IMPORT FONTS
------------------------------------------------------------------------------------- */

$font-primary: 'Poppins'; //'Barlow';
$font-secondary: 'Baloo 2', cursive;
$font-baloo: 'Baloo';
$font-poppins: 'Poppins';
$font-inter: 'Inter';


body {
	font-family: $font-primary;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	font-family: $font-secondary;
}

h1,
h2 {
	font-size: 80px;
	line-height: 94px;
	color: $color-secondary;

	@include breakpoint(1366) {
		font-size: 70px;
		line-height: 84px;
	}

	@include breakpoint(768) {
		font-size: 50px;
		line-height: 64px;
	}

	@include breakpoint(640) {
		font-size: 24px;
		line-height: 22px;
	}
}

h3 {
	font-size: 36px;
	line-height: 38px;
	color: $color-primary;

	@include breakpoint(640) {
		font-size: 24px;
		line-height: 22px;
	}
}

h4 {
	font-size: 36px;
	line-height: 38px;
	color: $color-secondary;
}

.h4 {
	font-size: 36px;
	line-height: 38px;
	color: $color-secondary;
	font-weight: bold;
	font-family: $font-baloo;
}

h5,
.h5 {
	font-size: 30px;
	line-height: 38px;
	color: $color-white;
}

h6 {
	font-size: 24px;
	line-height: 22px;
	color: $color-grey-light;
}

h7 {
	font-size: 24px;
	line-height: 32px;
	color: $color-grey;
}


p {
	font-size: 16px;
	line-height: 20px;
	color: $color-grey;
}

.timeout-text {
	font-size: 26px !important;
	line-height: 30px !important;
	color: $color-green !important;
	font-weight: bold;
}

.white-link {
	color: #A3A9B7;
	text-decoration: none;
}

.static-page-entry {
	h1 {
		margin-bottom: 50px;
		font-size: 48px;
		line-height: 54px;
		color: $color-primary;

		@include breakpoint(1980) {
			margin-bottom: 30px;
		}

		@include breakpoint(960) {
			margin-bottom: 20px;
		}

		@include breakpoint(640) {
			margin-bottom: 20px;
			font-size: 36px;
			line-height: 46px;
		}

		&.about-company {
			font-family: $font-baloo;
			font-style: normal;
			font-weight: 400;
			font-size: 34px;
			line-height: 48px;
			color: $color-primary;
		}
	}

	h3 {
		margin-bottom: 30px;
		font-family: $font-primary;
		font-size: 22px;
		line-height: 29px;
		color: $color-primary;
		font-weight: 700;

		&.about-company {
			color: $color-primary;
			margin-bottom: 0;
		}
	}

	h6 {
		&.about-company {
			color: #E5E5E5;
			line-height: 28px;
		}
	}

	p,
	ol li,
	ul li {
		font-size: 16px;
		line-height: 29px;
		color: $color-grey;

		a {
			color: $color-grey;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		&.about-company {
			font-family: $font-primary;
			font-style: normal;
			font-weight: 500;
			font-size: 19px;
			line-height: 29px;
			color: #E5E5E5;
		}
	}

	p,
	ol,
	ul {
		margin-bottom: 30px;

		+h3 {
			padding-top: 10px;
		}
	}

	ul {
		&.about-company {
			list-style-type: disc;
			font-family: $font-primary;
			font-style: normal;
			font-weight: 500;
			font-size: 19px;
			line-height: 29px;
			color: #E5E5E5;
			padding-left: 30px;
			margin-top: 25px;

			&>li {
				font-family: $font-primary;
				font-style: normal;
				font-weight: 500;
				font-size: 19px;
				line-height: 29px;
				color: #E5E5E5;
			}
		}
	}

	table {
		border: 1px solid;

		thead {
			tr {
				th {
					border: 1px solid;
					font-weight: 700;
					padding: 10px;
				}
			}
		}

		tbody {
			tr {
				td {
					border: 1px solid;
					padding: 10px;
				}
			}
		}
	}
}