/*
= FOOTER
------------------------------------------------------------------------------------- */
footer {
	background-color: $color-46;
	margin-top: 16px;

	.footer-wrapper {
		max-width: 1380px;
		margin: 0 auto;
		padding: 25px 25px;
		box-sizing: border-box;

		@include breakpoint(960) {
			padding: 25px 25px;
		}

		@include breakpoint(640) {
			border-top: 0;
			padding: 15px 15px;
		}

		&.block {
			border-radius: 5px;
			background-color: $color-51;

			hr {
				background-color: $color-52;
				border: none;
				height: 1px;
				margin-top: 15px;
				margin-bottom: 15px;
			}
		}

		.footer-cols {
			@include flexbox();
			justify-content: space-between;
			flex-flow: nowrap;
			margin-bottom: 0px;
			padding-bottom: 0px;

			@include breakpoint(960) {
				flex-flow: wrap;
			}

			@include breakpoint(640) {
				display: block;
			}

			>.col {
				flex: 0 0 20%;

				@include breakpoint(1024) {
					flex: 0 0 30%;
				}

				.logo {
					display: block;
					margin-top: 10px;
					margin-bottom: 20px;

					@include breakpoint(640) {
						img {
							display: block;
							margin: 0 auto;
						}
					}
				}

				h5 {
					margin-bottom: 16px;
					font-family: $font-inter;
					font-size: 22px;
					line-height: 26px;
					color: $color-primary;
					font-weight: 700;
					text-transform: uppercase;
				}

				.lang-switcher-form {
					margin-bottom: 34px;
				}

				p {
					font-family: $font-inter;
					font-style: normal;
					font-size: 16px;
					line-height: 19px;
					color: #A3ABB6;
					font-weight: 700;

					strong {
						color: $color-primary;
						font-weight: 700;
					}

					>a {
						color: $color-grey;
						font-weight: 400;

						&:hover {
							color: $color-white;
						}
					}

					&.title {
						margin-bottom: 16px;
						font-family: $font-inter;
						font-style: normal;
						font-weight: 800;
						font-size: 22px;
						line-height: 28px;
						color: $color-primary;
					}

					&.casino-time {
						font-family: $font-inter;
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 26px;
						letter-spacing: -0.25px;
						color: $color-32;
						padding-bottom: 10px;

						img {
							vertical-align: middle;
						}
					}

					&.casino-date {
						font-family: $font-inter;
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 26px;
						letter-spacing: -0.25px;
						color: $color-32;
						padding-top: 10px;
						padding-bottom: 10px;

						img {
							vertical-align: middle;
						}
					}

				}

				.social-menu {
					@include breakpoint(640) {
						text-align: center;

						li {
							margin: 0 10px;
						}
					}
				}

				.casino-gamblefied-experience {
					@include flexbox();
					flex-direction: row;
					gap: 8px;
					align-items: center;
					flex: 1 0 0;
					justify-content: center;

					div {
						&:nth-child(2) {
							color: $color-primary;
							font-family: $font-baloo;
							font-size: 15px;
							font-style: normal;
							font-weight: 400;
							line-height: 15px;
							letter-spacing: -0.75px;
							text-transform: uppercase;
						}
					}
				}

				.footer-icons {
					@include flexbox();
					align-items: center;
					padding-top: 20px;
					margin-left: -7px;

					li {
						img {
							display: block;
							margin: 0 7px;
						}
					}
				}

				.page-nav {
					@include breakpoint(640) {
						display: block;
						text-align: center;
					}

					.col {
						@include breakpoint(768) {
							margin-right: 30px;
						}

						@include breakpoint(640) {
							margin-bottom: 50px;
							margin-right: 0;
						}

						ul {
							li {
								margin-bottom: 10px;

								a {
									color: $color-32;
									font-family: $font-inter;
									font-size: 16px;
									font-style: normal;
									font-weight: 400;
									line-height: 20px;
								}
							}
						}
					}
				}

				&:last-child {
					flex: 0 0 190px;

					@include breakpoint(1024) {
						display: none;
					}
				}
			}

			>.col-40 {
				flex: 0 0 40%;
				align-self: center;

				@include breakpoint(960) {
					text-align: center;
				}

				p.company-name {
					color: $color-primary;
					font-family: $font-inter;
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 20px;
					text-align: right;

					@include breakpoint(960) {
						text-align: center;
					}
				}
			}
		}

		p {
			&.small {
				font-family: $font-inter;
				text-align: center;
				font-size: 12px;
				line-height: 18px;
				color: $color-grey;
				font-weight: 400;
				font-style: normal;

				a {
					color: $color-primary;
					text-decoration: underline;
				}

				.underline {
					text-decoration: underline;
					font-weight: 500;
				}

				&.left {
					text-align: left;
				}

				&.app-version {
					color: $color-primary;
					font-family: $font-inter;
					font-size: 14px;
					line-height: 20px;
					font-weight: 400;
					font-style: normal;
					text-align: center;
				}
			}

			&.casino-license {
				text-align: center;
				margin-top: 10px;
				margin-bottom: 20px;
			}

			&.description-1 {
				color: $color-32;
				text-align: center;
				font-family: $font-inter;
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: 14px;
				margin-bottom: 20px;

				@include breakpoint(1440) {
					font-size: 10px;
					line-height: 14px;
					font-weight: 400;
				}

				@include breakpoint(1024) {
					font-size: 10px;
					line-height: 14px;
					font-weight: 400;
				}

				@include breakpoint(375) {
					font-size: 10px;
					line-height: 14px;
					font-weight: 400;
				}
			}

			&.description-2 {
				color: $color-32;
				text-align: center;
				font-family: $font-inter;
				font-size: 10px;
				font-style: normal;
				font-weight: 400;
				line-height: 14px;
				margin-bottom: 20px;

				>a {
					color: $color-primary;
					font-family: $font-inter;
					font-size: 10px;
					font-style: normal;
					font-weight: 400;
					line-height: 14px;
					text-decoration-line: underline;
				}

				@include breakpoint(1440) {
					font-size: 10px;
					line-height: 14px;
					font-weight: 400;
				}

				@include breakpoint(1024) {
					font-size: 10px;
					line-height: 14px;
					font-weight: 400;
				}

				@include breakpoint(375) {
					font-size: 10px;
					line-height: 14px;
					font-weight: 400;
				}
			}
		}
	}
}