/*
= MODALS GLOBAL
------------------------------------------------------------------------------------- */
.modal-outer {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 90;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	@include transition(all 300ms ease-in-out);

	&.fullscreen {
		z-index: 101;
	}

	&#play-overlay {
		z-index: 101;
	}

	.modal-bgr {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba($color-black, 0.6);
	}

	.modal-close {
		position: absolute;
		left: 10px;
		bottom: 10px;
		z-index: 2;
		width: 50px;
		height: 50px;
		text-indent: -9999px;
		background-color: transparent;
		border: none;
		cursor: pointer;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			width: 45px;
			height: 6px;
			border-radius: 6px;
			background-color: $color-primary;
			@include transition(all 300ms ease-in-out);
		}

		&:before {
			@include transform($x: -50%, $y: -50%, $r: 45deg);
		}

		&:after {
			@include transform($x: -50%, $y: -50%, $r: -45deg);
		}

		&:hover {

			&:before,
			&:after {
				background-color: $color-white;
			}
		}

		&.large {
			left: auto;
			bottom: auto;
			top: 20px;
			right: 20px;

			&:before,
			&:after {
				width: 60px;
				height: 8px;
			}
		}
	}

	// Wide modal
	.modal-content-wide {
		position: relative;
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		@include transform($y: -100px);
		@include transition(all 300ms 200ms cubic-bezier(0.76, 0, 0.24, 1));
		width: 100%;
		background-color: $color-black;

		.modal-content {
			@include flexbox();
			justify-content: flex-end;
			padding: 150px 0;

			@include breakpoint(1366) {
				display: block;
			}

			.page-nav {
				.col {
					p {
						&.title {
							margin-bottom: 16px;
							font-family: $font-primary;
							font-size: 22px;
							line-height: 26px;
							color: $color-primary;
							font-weight: 700;
							text-transform: uppercase;
						}
					}
				}

				width: 1330px;

				@include breakpoint(1600) {
					width: 1050px;
				}

				@include breakpoint(1366) {
					width: auto;
					padding-left: 75px;
				}
			}

			.modal-secondary-outer {
				position: absolute;
				right: 0;
				bottom: 20px;
				width: 220px;

				h6,
				p {
					margin-bottom: 17px;
					font-family: $font-primary;
					font-size: 20px;
					line-height: 24px;
					color: $color-white;
					font-weight: 400;
				}

				p {
					margin-bottom: 0;

					strong {
						color: $color-primary;
						font-weight: 700;
					}

					&.title {
						color: $color-white;
						font-family: $font-primary;
						font-size: 20px;
						font-weight: 400;
						line-height: 24px;
						margin-bottom: 17px;
					}
				}
			}
		}
	}

	&.visible {
		opacity: 1;
		visibility: visible;

		.modal-content-wide {
			opacity: 1;
			visibility: visible;
			@include transform();
		}
	}
}

// Login/Register modals
#register,
#forgot-username,
#forgot-password,
#login {
	overflow: auto;
}

#register,
#forgot-username,
#forgot-password,
#login {
	z-index: 120;
}

.modal-form-outer {
	position: relative;
	z-index: 2;
	max-width: 500px;
	padding: 20px 75px 55px;
	margin: 120px auto;
	background-color: #150734;
	border-radius: 20px;

	@include breakpoint(768) {
		margin: 80px 20px 40px;
	}

	@include breakpoint(640) {
		padding: 20px;
	}

	hgroup {
		text-align: center;

		h4 {
			margin-bottom: 50px;
			color: $color-primary;
			text-transform: uppercase;

			@include breakpoint(640) {
				margin-bottom: 30px;
				font-size: 24px;
			}
		}

		h6 {
			font-family: $font-baloo;
			font-size: 22px;
			line-height: 25px;
			font-weight: 400;
			font-style: normal;
			color: #E5E5E5;
			text-align: center;
			letter-spacing: 0;
			margin-bottom: 15px;
		}

		img {
			display: block;
			width: 270px;
			height: auto;
			margin: 0 auto 35px;

			@include breakpoint(640) {
				width: 200px;
				margin-bottom: 30px;
			}
		}

		p {
			font-family: $font-baloo;
			font-size: 22px;
			line-height: 25px;
			font-weight: 400;
			font-style: normal;
			color: #E5E5E5;
			text-align: center;
			letter-spacing: 0;
			margin-bottom: 15px;
		}
	}

	.form-bottom-info {
		padding-top: 20px;
		text-align: center;

		p {
			margin-bottom: 30px;
			font-size: 20px;

			@include breakpoint(640) {
				font-size: 14px;
			}

			a {
				color: $color-primary;
				text-decoration: underline;

				@include breakpoint(768) {
					font-size: 18px;
					line-height: 20px;
				}

				&:hover {
					text-decoration: none;
				}

				&.forgot-password {
					color: #A3ABB6;
					font-size: 20px;
					font-weight: 600;

					@include breakpoint(768) {
						font-size: 18px;
						line-height: 20px;
					}

					&:hover {
						text-decoration: none;
					}
				}
			}

			&.block {
				margin-bottom: 20px;
				font-family: $font-baloo;
				font-size: 24px;
				font-weight: 400;
				font-style: normal;
				color: #A3ABB6;

				@include breakpoint(640) {
					font-size: 18px;
				}

				a,
				button {
					color: $color-primary;
					text-decoration: none;
					font-size: 24px;
					font-family: $font-baloo;
					font-weight: 400;
					font-style: normal;
					letter-spacing: 0;
					line-height: 25px;
					background-color: transparent;
					border: none;
					cursor: pointer;

					&:hover {
						text-decoration: none;
					}

					@include breakpoint(768) {
						font-size: 18px;
						line-height: 20px;
					}
				}
			}

			&.small-block {
				margin-bottom: 0;
				font-family: $font-baloo;
				font-size: 16px;
				font-weight: 400;
				font-style: normal;
				color: #A3ABB6;
				text-align: center;
				letter-spacing: 0;
				line-height: 22px;

				@include breakpoint(640) {
					font-size: 16px;
				}

				a {
					color: $color-primary;
					text-decoration: none;
					font-size: 16px;
					font-family: $font-baloo;
					font-weight: 400;
					font-style: normal;
					text-align: center;
					letter-spacing: 0;
					line-height: 22px;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		h5 {
			margin-bottom: 20px;
			font-family: $font-baloo;
			font-size: 24px;
			font-weight: 400;
			font-style: normal;
			color: #A3ABB6;

			@include breakpoint(768) {
				font-size: 18px;
				line-height: 26px;
			}

			a {
				color: $color-primary;
				text-decoration: none;
				font-size: 24px;
				font-family: $font-baloo;
				font-weight: 400;
				font-style: normal;
				letter-spacing: 0;
				line-height: 25px;

				&:hover {
					text-decoration: none;
				}

				@include breakpoint(768) {
					font-size: 18px;
					line-height: 26px;
				}
			}
		}

		h6 {
			margin-bottom: 0;
			font-family: $font-baloo;
			font-size: 16px;
			font-weight: 400;
			font-style: normal;
			color: #A3ABB6;
			text-align: center;
			letter-spacing: 0;
			line-height: 22px;

			@include breakpoint(768) {
				font-size: 16px;
				line-height: 22px;
			}

			a {
				color: $color-primary;
				text-decoration: none;
				font-size: 16px;
				font-family: $font-baloo;
				font-weight: 400;
				font-style: normal;
				text-align: center;
				letter-spacing: 0;
				line-height: 22px;

				@include breakpoint(768) {
					font-size: 16px;
					line-height: 22px;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.form-signin,
	.form-signup {
		ul.form-modal {
			li {
				input {
					border: 3px solid #FF0066;
					font-family: $font-baloo;
					font-style: normal;
					font-weight: 400;
					font-size: 25px;
					line-height: 27px;
					height: 50px;
					background: transparent;
					color: #FCC025;

					@include breakpoint(768) {
						font-size: 18px;
						line-height: 20px;
					}

					&::placeholder {
						text-align: center;
						color: #FCC025;

						@include breakpoint(768) {
							font-size: 18px;
							line-height: 20px;
						}

						@include breakpoint(375) {
							padding-left: 50px;
							padding-right: 50px;
							font-size: 22px;
							line-height: 24px;
						}
					}
				}

				.input-container {
					display: flex;
					position: relative;
					flex-wrap: wrap;
					align-items: stretch;

					&>img {
						display: flex;
						position: absolute;
						top: 5px;
						left: 15px;

						@include breakpoint(375) {
							height: 40px;
							width: 40px;
							top: 8px;
							left: 10px;
						}
					}
				}

				.signup {
					font-family: $font-baloo;
					font-style: normal;
					font-weight: 400;
					font-size: 34px;
					text-align: center;
					color: #150734;
				}

				p.block {
					button.metamask {
						color: $color-primary;
						text-decoration: none;
						font-size: 24px;
						font-family: $font-baloo;
						font-weight: 400;
						font-style: normal;
						letter-spacing: 0;
						line-height: 25px;
						background-color: transparent;
						border: none;
						cursor: pointer;

						&:hover {
							text-decoration: none;
						}

						@include breakpoint(768) {
							font-size: 18px;
							line-height: 20px;
						}
					}
				}
			}
		}
	}
}