@import 'buttons';
@import 'forms';
@import 'modals';
@import 'social-menu';
@import 'page-nav';
//@import 'account';

@import 'front/hero-slider-outer';
@import 'front/connect-your-wallet';
@import 'front/buy-tokens-section';
@import 'front/funds-raising-rounds';
@import 'front/private-sale-status';
@import 'front/investors-vip-nft';
@import 'front/investors-safety';
@import 'front/presale-seed-round';
@import 'front/staking-section';
@import 'front/signup-email-for-updates';